<h1 id="page-title">Contact</h1>

<div id="contact-wrapper">
  <p><a href="https://twitter.com/rliu054">Twitter</a></p>
  <p><a href="https://github.com/rliu054">Github</a></p>
  <p><a href="https://www.linkedin.com/in/rliu054">LinkedIn</a></p>
</div>