<h1 id="page-title">Contact</h1>

<div id="contact-wrapper">
  <p>
    <a href="https://github.com/rliu054" target="_blank"><i class="fa fa-github fa-3x"></i></a>
    <a href="https://twitter.com/rliu054" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
    <a href="https://www.linkedin.com/in/rliu054" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
    <a href="mailto:iamliurui@gmail.com"><i class="fa fa-envelope-o fa-3x"></i></a>
  </p>
</div>